<p id="notice"><%= notice %></p>
<div >
<h1>User:  <strong> <%= @user.username %></strong></h1>
<hr><br>
<div>
	<% if @user.id == current_user.id then %>
		<h2>Your info </h2>
	<%else%>
		<h2>User info </h2>
	<%end%>
	
	<p>
	  <strong>First name:</strong>
	  <%= @user.first_name %>
	</p>

	<p>
	  <strong>Last name:</strong>
	  <%= @user.last_name %>
	</p>

	<p>
	  <strong>Username:</strong>
	  <%= @user.username %>
	</p>

	<p>
	  <strong>Email:</strong>
	  <%= @user.email %>
	</p>

	<table class="user_info">
		<thead>
		    <tr>
		      <th>Followers</th>
		      <th>Following</th>
		      <th>Mentioned</th>
		    </tr>
		</thead>

		<tbody>
		    <tr>
		       <td><%= @user.followers_number %></td>
		       <td><%= @user.following_number %></td>
		       <td><%= @user.mentions %></td>
	      	</tr>
	  	</tbody>
	</table>

	
</div>

<% if @user.id == current_user.id then %>
   
	<div>
		<div class="tweet_link">
		<%= link_to 'Tweet', new_tweet_path  %>
		</div>
		<hr>
		<h2>Your tweets</h2>
		<% @user.tweets.each do |tweet| %>
			<div class="boxed">
            <p><strong><%= tweet.user.username %></strong> <%= distance_of_time_in_words(tweet.created_at, Time.current) %> ago | Number of 'a':
              <%= tweet.number_of_a %><br>
              Title: <%= tweet.title %></p>
            <%= tweet.text %>
        </div>
		<% end %>
	</div>

<%else%>

	<% if is_following(current_user.id, @user.id) %>
		<div class="tweet_link">
		     <%= link_to 'Unfollow', unfollow_user_path,
		     method: :post %>
		</div>
		<h2>Tweets</h2>
		<% @user.tweets.each do |tweet| %>
			<div class="boxed">
            <p><strong><%= tweet.user.username %></strong> <%= distance_of_time_in_words(tweet.created_at, Time.current) %> ago | Number of 'a':
              <%= tweet.number_of_a %><br>
              Title: <%= tweet.title %></p>
            <%= tweet.text %>
        </div>
		<% end %>
	<% else %>
		<div class="tweet_link">
		     <%= link_to 'Follow', follow_user_path,
		     method: :post %>
		</div>
	<%end %>

<%end%>
<br>
</div>


